<div class="container pt-3 pl-5" *ngIf="verificare1()">
  <button type="button" class="btn btn-primary" routerLink="/add-article">Add Article</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <div class="articol" *ngFor="let item of articles" >
          <div>
            <img class="picture" src="{{item.imageURL}}" alt="poza">
          </div>
          <div class="pl-2">
            <h4 style="height: 180px;">{{item.title}}</h4>
          </div>
          <div class="btn-group btn-group-toggle tab pl-2" data-toggle="buttons">
            <label class="btn btn-outline-secondary">
              <input routerLink="/article" (click)="onclick(item.id)" type="radio" name="options" id="option1"> View
            </label>
            <label class="btn btn-outline-secondary">
              <input (click)="onclick(item.id)" (click)="verificare2(item.userId)" type="radio" name="options" id="option2"> Edit
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
