.basic {
  margin: auto;
  width: 80%;
  height: auto;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  margin-top: 50px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
button{
  margin: 2%;
}
