body {
    min-height: 450px;
    height: 93.2vh;
    margin: 0;
    background: -webkit-radial-gradient(ellipse farthest-corner at center top, #ffffff 0%, #ffffff 100%);
    background: radial-gradient(ellipse farthest-corner at center top, #ffffff 0%, #ffffff 100%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }

