<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LearningIt</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
  <script src="main.js"></script>
  <script src="/FrontEnd//node_modules//animejs/lib/anime.min.js"></script>
  <script src="/FrontEnd/node_modules/scrollreveal/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
  <div class="body-wrap">
    <div class="container-fluid">
      <div class="d-flex justify-content-center">
        <div class="container">
          <header style="padding-left: 28%; padding-top: 200px;">
            <div class="container" >
              <div class="site-header-inner">
                <div class="">
                  <h1 class="m-0">
                    <img class="header-logo-image" src="https://i.ibb.co/PxP2DHZ/logo.png" alt="Logo">
                  </h1>
                  <div class="hero-inner">
                    <div class="hero-copy pt-5">
                      <h1 class="hero-title mt-0"> Welcome to LearningIt!</h1>
                      <p class="hero-paragraph">Learn new skills and discover the power of LearningIT with step-by-step guidance. Start your journey today by exploring our modules.</p>
                      <div class="hero-cta"><a class="button button-primary" routerLink="/login">Start learning</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="col-7">
          <div class="d-flex flex-row-reverse">
            <img src="https://i.ibb.co/gTF1q0Z/cub.png" alt="">
          </div>
        </div>
        <section class="hero">
          <div class="container">
            <div class="hero-inner">
              <div class="hero-figure anime-element">
                <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                <div class="hero-figure-box hero-figure-box-05"></div>
                <div class="hero-figure-box hero-figure-box-06"></div>
                <div class="hero-figure-box hero-figure-box-07"></div>
                <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <main>
      <section class="features section">
        <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
            <div class="features-wrap">
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <div class="feature-icon">
										<img src="https://i.ibb.co/prD3Yhk/feature-icon-01.png" alt="Feature 01">
                  </div>
                  <h4 class="feature-title mt-24">Learn on your own schedule</h4>
                  <p class="text-sm mb-0">Explore a topic in-depth through guided paths or learn how to accomplish a specific task through individual modules</p>
                </div>
              </div>
							<div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <div class="feature-icon">
										<img src="https://i.ibb.co/pXJw36X/feature-icon-02.png" alt="Feature 02">
                  </div>
                  <h4 class="feature-title mt-24">Discover your path</h4>
                  <p class="text-sm mb-0">Whether you're just starting or an experienced professional, our hands-on approach helps you arrive at your goals faster, with more confidence and at your own pace.</p>
                </div>
              </div>
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <div class="feature-icon">
										<img src="https://i.ibb.co/6nKH1nN/feature-icon-03.png" alt="Feature 03">
                  </div>
                  <h4 class="feature-title mt-24">Get certifications</h4>
                  <p class="text-sm mb-0">Jump-start your career and demonstrate your achievements.Earn certifications that show you are keeping pace with today’s technical roles and requirements.</p>
                </div>
              </div>
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <div class="feature-icon">
										<img src="https://i.ibb.co/qn325cw/feature-icon-04.png" alt="Feature 04">
                  </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
</html>

<!--
https://i.ibb.co/6FxwTTm/cta-illustration.png
https://i.ibb.co/prD3Yhk/feature-icon-01.png
https://i.ibb.co/pXJw36X/feature-icon-02.png
https://i.ibb.co/6nKH1nN/feature-icon-03.png
https://i.ibb.co/qn325cw/feature-icon-04.png
https://i.ibb.co/0yHrMsX/feature-icon-05.png
https://i.ibb.co/GJ1HcpJ/feature-icon-06.png
https://i.ibb.co/V3LRng2/hero-back-illustration.png
https://i.ibb.co/rmP6RKF/hero-top-illustration.png
https://i.ibb.co/PxP2DHZ/logo.png
https://i.ibb.co/f8D0B4F/pricing-illustration.png
-->
