
<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>Always ready to help you!</h1>
                <p>Contact us at: learningit@gmail.com</p>
            </div>
        </div>
        <div class="row">
            <div class="team-items">
                <div class="item">
                    <img src="https://i.ibb.co/3CJ3dBT/b.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                              <h5>Gabriel Stancu</h5>
                              <p>Programator</p>
                              <div class="social-links">
                                  <a href="https://www.facebook.com/bitu.stancu"><span class="fa fa-facebook"></span></a>

                                  <a href="https://www.linkedin.com/in/gabriel-stancu/"><span class="fa fa-linkedin"></span></a>

                              </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://i.ibb.co/YLWtYBp/a.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                              <h5>Adriana Costache</h5>
                              <p>Programator</p>
                              <div class="social-links">
                                  <a href="https://www.facebook.com/adriana.valentina3"><span class="fa fa-facebook"></span></a>

                                  <a href="https://www.linkedin.com/feed/"><span class="fa fa-linkedin"></span></a>

                              </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://i.ibb.co/BjJgpq5/r.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                              <h5>Roberto Simion</h5>
                              <p>Programator</p>
                              <div class="social-links">
                                  <a href="https://www.facebook.com/roberto.simion.98"><span class="fa fa-facebook"></span></a>
                                  <a href="https://www.linkedin.com/in/roberto-florian-simion-70343517b/"><span class="fa fa-linkedin"></span></a>

                              </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://i.ibb.co/nPkVnq7/c.png" alt="team" />
                    <div class="inner">
                        <div class="info">
                              <h5>Costin Fratila</h5>
                              <p>Programator</p>
                              <div class="social-links">
                                  <a href="https://www.facebook.com/costin.fratila"><span class="fa fa-facebook"></span></a>

                                  <a href="https://www.linkedin.com/in/costin-fratila-225667152/"><span class="fa fa-linkedin"></span></a>

                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
